.camel{
    display: flex;
    justify-content: center;
}

.chamleon{
    display: flex;
    justify-content: center;
}

.cicada{
    display: flex;
    justify-content: center;
}

.panda{
    display: flex;
    justify-content: center;
}

.pigeon{
    display: flex;
    justify-content: center;
}

.teddy-bear{
    display: flex;
    justify-content: center;
}