.header{
    display:flex;
    justify-content: flex-end;
}

.camel{
    display: flex;
    justify-content: center;
    background-color: sienna;
    color: #f0fff0;
}

.chameleon{
    display: flex;
    justify-content: center;
    background-color: #adff2f;
}

.cicada{
    display: flex;
    justify-content: center;
    background-color: #00ff7f;
}

.panda{
    display: flex;
    justify-content: center;
    background-color: #ffebcd;
}

.pigeon{
    display: flex;
    justify-content: center;
    background-color: #808080;
    color: #f0fff0;
}

.teddy-bear{
    display: flex;
    justify-content: center;
    background-color: #ff8080;
}